/* Variables */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #F2E1EE;
  color: black;
}

.topnav a .active {
  color: black;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

.topnav .topnav__titulo {
  padding: 14px 16px !important;
}

.topnav h2 {
  float: left;
  padding-left: 200px;
  font-weight: 600;
}

.links {
  float: right;
  padding-right: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .topnav {
    position: relative;
    width: 100%;
    background-color: #F2E1EE;
  }
  .topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: center;
    font-size: 16px;
  }
  .links {
    float: right;
    padding-right: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .topnav h2 {
    float: center;
    padding-left: 0px;
  }
  .topnav__titulo h2 {
    padding-left: 0px;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    font-size: 20px;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 57px;
  bottom: 72px;
  right: 10px;
  background-color: #01B32B;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 34px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 6;
}

.cabecera {
  background-image: url(../img/home.png);
  width: 100%;
  height: 524px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.cabecera h2 {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Tenor Sans", sans-serif;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  /*esto lo tuve q poner porque me hacia un margen propio del h1 que no queria*/
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding-top: 10%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabecera .cabecera__bajada {
  display: block;
  font-family: "Tenor Sans", sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding-top: 0px;
  text-align: center;
}

.cabecera .cabecera__bajada2 {
  font-size: 18px;
  text-align: center;
}

.cabecera:hover {
  background-image: url(../img/home2.png);
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

table, th, td {
  border: none !important;
}

.presentacion {
  padding-top: 10%;
}

.presentacion .presentacion__titulo {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  text-align: center;
}

.presentacion .presentacion__parrafo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.container {
  margin: auto;
  background-color: white;
  width: 600px;
  padding: 30px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  height: 150px;
  text-align: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: white;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Muestro el primer <li>*/
ul.slider li:first-child {
  opacity: 1;
}

/*Muestro el <li> del enlace que marco*/
ul.slider li:target {
  opacity: 1;
}

.menuslide {
  text-align: center;
  margin: 20px;
}

.menuslide li {
  display: inline-block;
  text-align: center;
}

.menuslide li a {
  display: inline-block;
  color: #C4C4C4;
  text-decoration: none;
  background-color: #C4C4C4;
  width: 10px;
  height: 10px;
  font-size: 5px;
  border-radius: 100%;
}

.menuslide li a:hover {
  color: #494949;
  background-color: #494949;
}

.cliente {
  font-size: 12px;
  font-weight: bold;
}

.marca_opinion {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: black;
  margin-top: 40%;
}

.grid-container p {
  font-size: 15px;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.servicio__imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.servicios__titulo {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
}

.servicio1 {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  padding-left: 5%;
}

.servicio1:hover {
  height: 110%;
  font-weight: bold;
}

.servicio2 {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

.servicio2:hover {
  height: 110%;
  font-weight: bold;
}

.servicio3 {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  padding-right: 5%;
}

.servicio3:hover {
  height: 110%;
  font-weight: bold;
}

.contacto__principal {
  padding-top: 100px;
  background-color: #FAF0ED;
  padding-bottom: 70px;
}

.contacto__principal h1 {
  display: block;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Tenor Sans', sans-serif;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.contacto__imagen {
  display: inline-block;
  width: 300px;
  height: 320px;
  padding-left: 500px;
}

.contacto__nombre {
  display: block;
  background: transparent;
}

.contacto__email {
  display: block;
  margin-top: 10px;
  background: transparent;
}

.contacto__telefono {
  display: block;
  margin-top: 10px;
  background: transparent;
}

.contacto__motivo {
  display: block;
  margin-top: 10px;
  background: transparent;
}

.contacto__enviar {
  background-color: #E3CBC7;
  display: block;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

.grid-container__about {
  display: -ms-grid;
  display: grid;
  height: 430px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 10%;
  margin-bottom: 10%;
}

.grid-container__about div {
  display: -ms-grid;
  display: grid;
  color: black;
}

.fotoabout {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: left 30%;
}

.textoabout {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  padding-right: 25%;
  margin-left: 5%;
}

.sobremi {
  background-color: #F2E1EE;
  overflow: hidden;
}

.sobremi__texto {
  text-align: left;
  padding-left: 10%;
  text-align: left;
  font-size: 25px;
}

.sobremi__texto_frase {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-left: 10%;
}

.sobremi__titulo {
  padding-left: 10%;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Tenor Sans', sans-serif;
}

.sobremi__img {
  /* margin-left: 255px;
    margin-top: 200px;
    width: 430px;
    height: 430px;
    float: left; */
  margin-left: 50%;
  width: 60%;
}

.portfolio_cabecera {
  background-color: #FAF0ED;
  color: black;
  height: 524px;
  width: 100%;
  text-align: center;
}

.portfolio_cabecera h1 {
  display: block;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Tenor Sans', sans-serif;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  /*esto lo tuve q poner porque me hacia un margen propio del h1 que no queria*/
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding-top: 10%;
}

.portfolio__bajada {
  display: block;
  font-size: 25px;
  font-weight: normal;
  font-family: "Tenor Sans", sans-serif;
}

.portfolio-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-align: center;
}

.trabajo_imagen {
  width: 40%;
}

.trabajo1 {
  padding-top: 10%;
  height: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.trabajo2 {
  padding-top: 10%;
  height: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.trabajo3 {
  padding-top: 10%;
  height: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.trabajo4 {
  padding-top: 10%;
  padding-bottom: 15%;
  height: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.opinion1, .opinion2, .opinion3 {
  background-color: #F9F6F5;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
}

.opinion1:hover, .opinion2:hover, .opinion3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

* {
  font-family: "Montserrat", sans-serif;
}

/*FOOTER */
.footer {
  color: black;
  background-image: -webkit-gradient(linear, right top, left top, from(#F8F4F0), to(white));
  background-image: linear-gradient(to left, #F8F4F0, white);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.footer_titulo {
  font-size: 20px;
  font-weight: bold;
}

.footer p {
  font-size: 10px;
  color: black;
}

.contact-form {
  margin-top: 70px;
  border: 1px solid;
  padding: 40px;
}
/*# sourceMappingURL=style.css.map */