
.bg-light {
    background-color: #FAF0ED !important;
}

.bg-dark {
    background-color: #FAF0ED !important;
}

.p-6 {
    padding: 4rem 7rem;
}



.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border-color: black;
    min-width: 10rem;
    background-color: black;
    color: $colorfondo;
}

.font-weight-bold {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

.tituloformulario {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Tenor Sans', sans-serif;
}

.form-control {
    background-color: #e9e9e9;
    padding: 1.5rem 1rem;
    border: 0cm;
    border-radius: 1rem;
}

.register-bg {
    background-image: url('../img/11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px;
}

.tituloform1 {
    color: black;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    padding-top: 10%;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}

:root {
    --color-dark: #15181f;
    --color-dark-x: #D4C9C9;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}
