.cabecera {
    background-image: url(../img/home.png);
    width: 100%;
    height: 524px;
    align-content: center;
    transition: all 3s;

    h2 {
        display: block;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        font-family: $font-titulo;
        margin-block-start: 0px;
        /*esto lo tuve q poner porque me hacia un margen propio del h1 que no queria*/
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-top: 10%;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite; 
        justify-content: center;  
    }

    .cabecera__bajada {
        display: block;
        font-family: $font-titulo;
        font-size: 11px;
        font-weight: normal;
        padding-top: 0px;
        text-align: center;
    }

    .cabecera__bajada2 {
        font-size: 18px;
        text-align: center;
    }

    &:hover {
        background-image: url(../img/home2.png)
    }

}


    .presentacion {
        padding-top: 10%;

        .presentacion__titulo {
            font-family: $font-titulo;
            font-weight: normal;
            text-align: center;
    }

    .presentacion__parrafo {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
    }

}


@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 
}

table, th, td {
    border: none !important;
}