.portfolio_cabecera {
        background-color: #FAF0ED;
        color: black;
        height: 524px;
        width: 100%;
        text-align: center;

        h1 {
            display: block;
            font-size: 30px;
            font-weight: normal;
            font-family: 'Tenor Sans', sans-serif;
            margin-block-start: 0px;
            /*esto lo tuve q poner porque me hacia un margen propio del h1 que no queria*/
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-top: 10%;
        }

}

.portfolio__bajada {
    display: block;
    font-size: 25px;
    font-weight: normal;
    font-family: $font-titulo;
}