@import '_variables';
@import 'colores';
@import 'general';
@import 'home';
@import 'servicios';
@import 'contacto';
@import 'aboutme';
@import 'portfolio';
@import 'extend';

*{
    font-family: $font-general;
}

/*FOOTER */

.footer {
    color: black;
    background-image: linear-gradient(to left, #F8F4F0 , white);
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}
.footer_titulo {
    font-size: 20px; 
    font-weight: bold;
}
.footer p {
    font-size: 10px;
    color:black
}

.contact-form {
    margin-top: 70px;
    border: 1px solid;
    padding: 40px;
}

/*esta cagada no anda en este archivo pero en el otro si y esta igual */

.grid-container {
    display: grid;
    // height: 600px;
    background-color: white;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: space-evenly;
    align-content: space-around;
}

.grid-container div {
    display: grid;
    background-color: #F9F6F5;
    text-align: center;
    color: black;
}
