@import 'variables';
@import 'colores';
@import 'general';
@import 'home';
@import 'servicios';
@import 'contacto';
@import 'aboutme';
@import 'portfolio';
@import 'extend';

*{
    font-family: $font-general;
}

/*FOOTER */

.footer {
    color: black;
    background-image: linear-gradient(to left, #F8F4F0 , white);
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}
.footer_titulo {
    font-size: 20px; 
    font-weight: bold;
}
.footer p {
    font-size: 10px;
    color:black
}

.contact-form {
    margin-top: 70px;
    border: 1px solid;
    padding: 40px;
}
